@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a32;
}
.content{
    width:340px;
    height: 600px;
    background: #000000;
    border-radius: 30px;
 
   
    
}
.content img{
    width: 100%;
    height: 200px;
    border-radius: 30px;
}
.content h1{
    position:absolute;
    color: aliceblue;
    top: 250px;
    
    margin-left: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; 
}
.content h4{
    color: #2c2f38;
    margin-left:30px ;
    font-weight: 10px;
}
.content #box{
    
    margin-left: 30px;
    width: 280px;
    border-style: none;
    outline: none;
    height: 50px;
    background:#2c2f38 ;
    color: white;
    border-radius: 10px;
    
    text-align: center;
    font-size: 15px;


}
.content #bt1{
    width: 280px;
    height: 40px;
    background: #5666ff;
    outline: none;
    color: white;
    border-radius: 30px;
}
.content p{
    color: rgb(79, 70, 255);
    font-size: 13px;
    
   
}
.content a{
    text-decoration: none;
    color: rgb(79, 70, 255);

}
@media(max-width:991px){

    section
    {
     
        padding: 150px 40px;
       
    }
    .content{
        width: 310px;
    }
    .content h1{
        margin-top: 70px;
    }
    .content #box{
    
        margin-left: 10px;
        width: 260px;
      
    
    
    }
    .content #bt1{
        width: 200px;
    }
   

    
}

